name: Run tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      RAILS_ENV: test

    steps:
    - uses: actions/checkout@v4

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.3
        bundler-cache: true

    - name: Create .env file
      run: cp env-example .env

    - name: Set up test database
      run: bin/rails db:setup

    - name: Run tests
      run: bin/test

    - name: Check code standards
      run: bundle exec rake code_standards
